<h1>Successfull Registration</h1>

<p>You have been registered successfully as the resident</p>

<p>Your secret resident key is <%= @password %></p>

<p>Please use this key to apply for the visitor pass from this <a href="#">link</a></p>
