<h1>Visitor Pass</h1>

<p>
Please provide your details with the link provided below to obtain the visitor pass.
<br>
After the submitting the form you will receive a QR code with your details.
<br>
You will be asked to show the QR code at the guard house for verification.
<br>
<br>
<%= link_to "Visitor Pass", new_visitor_url(resident_id: @visitor_pass.resident_id , token: @visitor_pass.token) %>
<p>
