<h1>Visitor Details</h1>

<p>
Please click the link provided below to obtain the visitor pass.
<br>
<br>
<%= link_to "Visitor Pass", new_visitor_url(resident_id: @visitor_pass.resident_id , token: @visitor_pass.token) %>
<p>
